<div class="container">
  <button class="btn mb-2 btn-info" (click)="redirectAddStudent()">Create a Student</button>
  <div class="content">
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Name</th>
          <th>Complete</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Student of studentList">
          <td>{{ Student.name }}</td>
          <td><input type="checkbox" [checked]="Student.complete" disabled> </td>
          <td>{{ Student.date | date: "dd-MM-yyyy" }}</td>
          <td>
            <i class="fa fa-pencil m-1" (click)="onEdit(Student)"></i>
            <i class="fa fa-solid fa-trash m-1" (click)="Remove(Student)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
